.sidemenu {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background-color: lavenderblush;
  .sidemenu-wrapper {
    padding: 20px;
  }
  .logo {
    width: 150px;
    img {
      width: 100%;
    }
  }
}



.menu-items-wrapper {
  ul {
    padding: 0;
    li {
      display: flex;
      flex-direction: column;
     a {
      font-size: var(--font-s);
      font-family: var(--font-medium);
      padding: 10px 10px 10px 0;
      color: #AA243c;
      cursor: pointer;
      text-decoration: none;
      &.active {
        border-bottom: 2px solid #AA243c;
      }
     }
    }
  }


}

