<div class="sidemenu">
  <div class="sidemenu-wrapper">
    <div class="logo">
      <img src="../../assets/images/Cooking-Recipe-PNG-Images.png" />
    </div>
    <div class="menu-items-wrapper p-t--48">
      <ul>
        <li class="menu-items">
          <a routerLink="/home" routerLinkActive="active">Home</a>
          <a>About us</a>
          <a routerLink="/recipes" routerLinkActive="active">Recipes</a>
          <a>Blog</a>
          <a>Contact us</a>
          <a routerLink="/edit" routerLinkActive="active">Add Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>
