<div class="contact-wrapper">
  <div class="form-wrapper">
    <div class="contact-header">
      <h2>Simply leave a message here</h2>
      <p>
        Please fill out our form below and we will contact you as soon as
        possible
      </p>
    </div>
    <form>
      <div class="name-email-wrapper">
        <div class="form-group">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" placeholder="Name" />
        </div>
        <div class="form-group">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" placeholder="Email" />
        </div>
      </div>

      <div class="form-group">
        <label class="form-label">Subject</label>
        <input type="text" class="form-control" placeholder="Subject" />
      </div>

      <div class="form-group">
        <label class="form-label" for="description">Message</label>
        <textarea type="text" class="form-control" rows="6"></textarea>
      </div>

      <div>
        <button class="submit-button">Send</button>
      </div>
    </form>
  </div>

  <div class="contact-information-wrapper">
    <div class="contact-information-header">
      <h2>How to find us</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </div>
    <div class="phone">
      <h3>Phone:</h3>
      <p class="p-t--12">+ 2(0)2 222 222</p>
    </div>
    <div class="email">
      <h3>Email:</h3>
      <p class="p-t--12">recipe@gmail.com</p>
    </div>
    <div class="address">
      <h3>Address:</h3>
      <p class="p-t--12">Lorem Ipsum</p>
    </div>
  </div>
</div>
