.about-us-header {
  background: linear-gradient(0deg, rgba(41, 15, 30, 0.3), rgba(28, 22, 25, 0.3)),url('../../assets/images/recipe-background.jpg');
  height: 210px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-3xl);
  font-weight: var(--weight-l);
  color: white;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px;

  p {
    padding-top: 24px;
    line-height: 2;
    font-size: 16px;
    text-align: center;
  }
}
