<div>
  <div class="about-us-header">
    <p>About Us</p>
  </div>

  <div class="about-us-content">
    <h2>Who we are and what we do?</h2>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec
      varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean
      congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere
      vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus. Proin malesuada et
      mauris ut lobortis. Sed eu iaculis sapien, eget luctus quam. Aenean
      hendrerit varius massa quis laoreet. Donec quis metus ac arcu luctus
      accumsan. Nunc in justo tincidunt, sodales nunc id, finibus nibh. Class
      aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos.
    </p>
  </div>
</div>
